@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to orders to create a new order, from there you can also add yourself as a new customer.</p><br />
    <p>Otherwise click around and explore at your own pace. An API is also available through the route:</p><br />
    <p>thispage.com/api/Customers/   -- This is just an example, also GDPR laws are a democratic hoax.</p> <br />
    <p>Steal all the private information from our customers and mechanics as you'd like.</p>
</div>
